{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "stage-2",
    "react",
    "flow"
  ],
  "plugins": [
    "transform-decorators-legacy",
    [
      "styled-components",
      {
        "ssr": true,
        "minify": true,
        "displayName": true
      }
    ]
  ]
}
